In [195]:
import pandas as pd
import os

In [196]:
pwd = os.getcwd()
pwd

'c:\\Users\\pykcian\\Desktop\\py\\xml'

In [197]:
filepath = pwd + "/simple_csv.csv"
#filepath

In [198]:
importcsv = pd.read_csv(filepath)
importcsv

     Column1   Column2   Column3
0   0.280925  0.910368  0.692982
1   0.719882  0.210024  0.761276
2   0.235752  0.059796  0.154667
3   0.603366  0.485614  0.013345
4   0.039985  0.236359  0.811832
5   0.015478  0.543641  0.112719
6   0.192540  0.409874  0.875082
7   0.380921  0.045468  0.515859
8   0.592471  0.786421  0.047249
9   0.072112  0.695694  0.409573
10  0.898072  0.070956  0.209020
11  0.722038  0.211985  0.324164
12  0.513517  0.091548  0.664279
13  0.436729  0.040322  0.548167
14  0.864039  0.963556  0.106398
15  0.724761  0.410422  0.587589
16  0.198926  0.245207  0.767356
17  0.748500  0.019264  0.046678
18  0.920639  0.212611  0.520463
19  0.452024  0.123660  0.847451
20  0.542977  0.265852  0.410926
21  0.355266  0.860616  0.589431
22  0.142688  0.406456  0.204095
23  0.850436  0.129426  0.719027
24  0.443476  0.388967  0.596924
25  0.467100  0.416908  0.098037
26  0.338536  0.935814  0.736899
27  0.942101  0.772005  0.441574
28  0.570130  0.780085  0.085592

In [199]:
importcsv["New Column 1"] = 1
importcsv["New Column 2"] = list(range(29))
importcsv["Added Output"] = importcsv["New Column 1"] + importcsv["New Column 2"]

importcsv

     Column1   Column2   Column3  New Column 1  New Column 2  Added Output
0   0.280925  0.910368  0.692982             1             0             1
1   0.719882  0.210024  0.761276             1             1             2
2   0.235752  0.059796  0.154667             1             2             3
3   0.603366  0.485614  0.013345             1             3             4
4   0.039985  0.236359  0.811832             1             4             5
5   0.015478  0.543641  0.112719             1             5             6
6   0.192540  0.409874  0.875082             1             6             7
7   0.380921  0.045468  0.515859             1             7             8
8   0.592471  0.786421  0.047249             1             8             9
9   0.072112  0.695694  0.409573             1             9            10
10  0.898072  0.070956  0.209020             1            10            11
11  0.722038  0.211985  0.324164             1            11            12
12  0.513517  0.091548  0.664279             1            12            13
13  0.436729  0.040322  0.548167             1            13            14
14  0.864039  0.963556  0.106398             1            14            15
15  0.724761  0.410422  0.587589             1            15            16
16  0.198926  0.245207  0.767356             1            16            17
17  0.748500  0.019264  0.046678             1            17            18
18  0.920639  0.212611  0.520463             1            18            19
19  0.452024  0.123660  0.847451             1            19            20
20  0.542977  0.265852  0.410926             1            20            21
21  0.355266  0.860616  0.589431             1            21            22
22  0.142688  0.406456  0.204095             1            22            23
23  0.850436  0.129426  0.719027             1            23            24
24  0.443476  0.388967  0.596924             1            24            25
25  0.467100  0.416908  0.098037             1            25            26
26  0.338536  0.935814  0.736899             1            26            27
27  0.942101  0.772005  0.441574             1            27            28
28  0.570130  0.780085  0.085592             1            28            29

In [200]:
importcsv = importcsv.drop(columns="New Column 1")

#inplace pozwala na wywołanie zmienionej tabeli bez przypisywania jej jako nowej tabeli
#importcsv.drop(columns="New Column 1", inplace=True)
importcsv

     Column1   Column2   Column3  New Column 2  Added Output
0   0.280925  0.910368  0.692982             0             1
1   0.719882  0.210024  0.761276             1             2
2   0.235752  0.059796  0.154667             2             3
3   0.603366  0.485614  0.013345             3             4
4   0.039985  0.236359  0.811832             4             5
5   0.015478  0.543641  0.112719             5             6
6   0.192540  0.409874  0.875082             6             7
7   0.380921  0.045468  0.515859             7             8
8   0.592471  0.786421  0.047249             8             9
9   0.072112  0.695694  0.409573             9            10
10  0.898072  0.070956  0.209020            10            11
11  0.722038  0.211985  0.324164            11            12
12  0.513517  0.091548  0.664279            12            13
13  0.436729  0.040322  0.548167            13            14
14  0.864039  0.963556  0.106398            14            15
15  0.724761  0.410422  0.587589            15            16
16  0.198926  0.245207  0.767356            16            17
17  0.748500  0.019264  0.046678            17            18
18  0.920639  0.212611  0.520463            18            19
19  0.452024  0.123660  0.847451            19            20
20  0.542977  0.265852  0.410926            20            21
21  0.355266  0.860616  0.589431            21            22
22  0.142688  0.406456  0.204095            22            23
23  0.850436  0.129426  0.719027            23            24
24  0.443476  0.388967  0.596924            24            25
25  0.467100  0.416908  0.098037            25            26
26  0.338536  0.935814  0.736899            26            27
27  0.942101  0.772005  0.441574            27            28
28  0.570130  0.780085  0.085592            28            29

In [201]:
importcsv.loc[:5, ["Column1", "Column2", "Column3", "New Column 2", "Added Output"]]

    Column1   Column2   Column3  New Column 2  Added Output
0  0.280925  0.910368  0.692982             0             1
1  0.719882  0.210024  0.761276             1             2
2  0.235752  0.059796  0.154667             2             3
3  0.603366  0.485614  0.013345             3             4
4  0.039985  0.236359  0.811832             4             5
5  0.015478  0.543641  0.112719             5             6

In [202]:
importcsv.iloc[5:10, [0, 3]]    #rows, columns

    Column1  New Column 2
5  0.015478             5
6  0.192540             6
7  0.380921             7
8  0.592471             8
9  0.072112             9

In [203]:
list(importcsv.columns)

['Column1', 'Column2', 'Column3', 'New Column 2', 'Added Output']

In [204]:
importcsv.describe()

         Column1    Column2    Column3  New Column 2  Added Output
count  29.000000  29.000000  29.000000     29.000000     29.000000
mean    0.491910   0.404446   0.444781     14.000000     15.000000
std     0.277251   0.308743   0.282451      8.514693      8.514693
min     0.015478   0.019264   0.013345      0.000000      1.000000
25%     0.280925   0.129426   0.154667      7.000000      8.000000
50%     0.467100   0.388967   0.515859     14.000000     15.000000
75%     0.722038   0.695694   0.692982     21.000000     22.000000
max     0.942101   0.963556   0.875082     28.000000     29.000000

In [205]:
importcsv["type"].unique()

KeyError: 'type'